#headerbar {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 120px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    padding: 40px;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 40px;
    margin: 0 auto;
}

#menu #item {
    width: 300px;
    height: 33px;
    border: #d1d1d1 1px solid;
    color: #000000;
    font-size: 16px;
    text-align: center;
}

#menu #item:hover {
    font-weight: bold;
    border: #454545 1px solid;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
}

#title {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: #454545 1px solid;
}

article {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

article:last-child {
    padding-bottom: 40px;
}

#list {
    height: 46px;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    background-color: #f7f7f7;
    border: #d1d1d1 1px solid;
    padding: 0 15px;
}

#content {
    font-size: 12px;
    color: #000000;
    padding: 30px;
    border: #d1d1d1 1px solid;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-top: #d1d1d1 1px solid;
}

p {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 12px;
}

#top {
    color: #999999;
}

#bottom {
    color: #000000;
}
